@import "./normalize.css";

/* 
:root   获取根元素html
--color-text    定义一个变量，使用时color: var(--color-text)
*/
:root {
  --color-text: #666666;
  --background: #f2f2f2;
  --clor-tint: #55A5C5;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial,Helvetica,sans-serif;
  background: var(--background);
  font-size: 14px;
}

a, a:hover {
  text-decoration: none;
}